@import '../../../styles/index.scss';

.message {
    @extend .align__text--left;

    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, .18), 0 1px 3px rgba(0, 0, 0, .18);

    @include padding($x: 5, $y: 5_5);
    @include margin($bottom: 4);
    @include color('background-color', 'background', 'primary', 'light');

    &__head {
        display: flex;
        flex-direction: row;
        align-items: center;

        @include margin($bottom: 4);
    }

    &__info {        
        h4 {
            @include margin($top: 0, $x: 0, $bottom: 2);
        }

        .paragraph--subtext {
            @include font('0', '500');
            @include margin($all: 0);
            @include color('color', 'text', 'secondary', 'light');
        }
    }

    &__avatar {
        display: flex;
        @include padding($right: 5);

        img {
            border-radius: 100%;
        }
    }

    &__body {
        @include font-size('1');
    }
}