.message {
    background-color: #fff;
    padding: 1.25rem;
    margin-bottom: 0.75rem;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, .18), 0 1px 3px rgba(0, 0, 0, .18);
    text-align: left;
    border-radius: 2px;

    &__head {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1rem;
    }

    &__info {        
        h4 {
            margin: 0 0 .25rem;
        }

        .paragraph--subtext {
            margin: 0;
            font-size: .8rem;
            font-weight: 500;
            color: grey;
        }
    }

    &__avatar {
        display: flex;
        padding-right: 1rem;

        img {
            border-radius: 100%;
        }
    }

    &__body {
        font-size: .95rem;
    }
}